@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-black: #222;
  --color-paper: #fbf8de;
  --color-paperDarker: #e2dcc5;
  --color-sketchShadow: #e2dcc5;
  --color-red: #ba3c3e;
  --color-brightRed: #fd4c2b;
  --color-blue: #1253b5;
  --color-buttonBg: #1253b5;
  --color-bg: #fff;
  --color-bgRgb: 255, 255, 255;
  --color-bgTransparent: rgba(255, 255, 255, 0.9);
  --color-bgDarker: #f5f5f5;
  --color-bgHighlight: #f5f5f5;
  --color-border: #e5e7eb;
  --color-inputBg: hsl(0, 0%, 93%);
  --color-inputBorder: #e5e7eb;
  --color-subduedText: #595959;

  --cc-bg: #35363a;
  --cc-primary-color: #fff;
  --cc-secondary-color: #c6c6c6;

  --cc-btn-primary-bg: #ffffff;
  --cc-btn-primary-color: #000;
  --cc-btn-primary-hover-bg: #ffffff;
  --cc-btn-primary-hover-color: #000;

  --cc-btn-secondary-bg: rgba(255, 255, 255, 0.039);
  --cc-btn-secondary-color: var(--cc-primary-color);
  --cc-btn-secondary-border-color: rgba(0, 0, 0, 0.3);
  --cc-btn-secondary-hover-bg: #252729;
  --cc-btn-secondary-hover-color: #fff;
  --cc-btn-secondary-hover-border-color: #252729;

  --cc-cookie-category-block-bg: #202124;
  --cc-cookie-category-block-border: #202124;
  --cc-cookie-category-block-hover-bg: #202124;
  --cc-cookie-category-block-hover-border: #1d1e1f;
  --cc-cookie-category-expanded-block-hover-bg: #1d1e1f;
  --cc-cookie-category-expanded-block-bg: #202124;
  --cc-toggle-readonly-bg: #2f3132;
  --cc-overlay-bg: rgba(0, 0, 0, 0.6) !important;

  --cc-toggle-on-knob-bg: #202124;
  --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);

  --cc-separator-border-color: #252729;

  --cc-footer-border-color: #212529;
  --cc-footer-bg: #000;
}

@screen dark {
  :root {
    --color-black: #fcfcfc;
    --color-paper: #fbf8de;
    --color-paperDarker: #e2dcc5;
    --color-sketchShadow: #27282b;
    --color-red: #ba3c3e;
    --color-brightRed: #fd4c2b;
    --color-blue: #6aa0f0;
    --color-buttonBg: #1253b5;
    --color-blueLight: #90b8f4;
    --color-bg: #35363a;
    --color-bgRgb: 53, 54, 58;
    --color-bgTransparent: rgba(53, 54, 58, 0.9);
    --color-bgDarker: #202124;
    --color-bgHighlight: #44454b;
    --color-border: #575960;
    --color-inputBg: #202124;
    --color-inputBorder: #35363a;
    --color-subduedText: #c6c6c6;
  }
}

html {
  @apply bg-bg text-black;
  font-weight: 300;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  padding: 1rem;
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace;
  font-size: 10px;
  white-space: pre-wrap;
  color: #8ae8fc;
  background-color: #282a36;
  line-height: 1.4;
  /* @apply hidden; */
}

.patreon {
  @apply fixed bottom-0 right-0;
}

/* Mailchimp */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font:
    16px 'Open Sans',
    sans-serif;
  width: 375px;
}

.coffee {
  @apply fixed z-50 bottom-0 left-0 mb-4 ml-4 flex flex-col items-center py-3 px-4 bg-white light:border shadow-lg rounded;
  transform: translateY(150%);
  transition: transform 0.2s ease-out;
}

.coffee[data-visible='true'] {
  transform: translateY(0);
}

.coffee img {
  @apply inline-block;
  width: 120px;
  height: auto;
}

#cc-main .cm,
#cc-main .pm {
  border: 1px solid var(--cc-separator-border-color);
}
