@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-black: #222;
  --color-paper: #fbf8de;
  --color-paperDarker: #e2dcc5;
  --color-sketchShadow: #e2dcc5;
  --color-red: #ba3c3e;
  --color-brightRed: #fd4c2b;
  --color-blue: #1253b5;
  --color-buttonBg: #1253b5;
  --color-bg: #fff;
  --color-bgRgb: 255, 255, 255;
  --color-bgTransparent: rgba(255, 255, 255, 0.9);
  --color-bgDarker: #f5f5f5;
  --color-bgHighlight: #f5f5f5;
  --color-border: #e5e7eb;
  --color-inputBg: hsl(0, 0%, 93%);
  --color-inputBorder: #e5e7eb;
  --color-subduedText: #595959;
}

@screen dark {
  :root {
    --color-black: #fcfcfc;
    --color-paper: #fbf8de;
    --color-paperDarker: #e2dcc5;
    --color-sketchShadow: #27282b;
    --color-red: #ba3c3e;
    --color-brightRed: #fd4c2b;
    --color-blue: #6aa0f0;
    --color-buttonBg: #1253b5;
    --color-blueLight: #90b8f4;
    --color-bg: #35363a;
    --color-bgRgb: 53, 54, 58;
    --color-bgTransparent: rgba(53, 54, 58, 0.9);
    --color-bgDarker: #202124;
    --color-bgHighlight: #44454b;
    --color-border: #575960;
    --color-inputBg: #202124;
    --color-inputBorder: #35363a;
    --color-subduedText: #c6c6c6;
  }
}

html {
  @apply bg-bg;
}

body {
  @apply bg-bg text-black;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  padding: 1rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 10px;
  white-space: pre-wrap;
  color: #8ae8fc;
  background-color: #282a36;
  line-height: 1.4;
  /* @apply hidden; */
}

.patreon {
  @apply fixed bottom-0 right-0;
}

/* Mailchimp */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 16px 'Open Sans', sans-serif;
  width: 375px;
}

.coffee {
  @apply fixed z-10 bottom-0 left-0 mb-4 ml-4 flex flex-col items-center py-3 px-4 bg-white light:border shadow-lg rounded;
  transform: translateY(150%);
  transition: transform 0.2s ease-out;
}

.coffee[data-visible='true'] {
  transform: translateY(0);
}

.coffee img {
  @apply inline-block;
  width: 120px;
  height: auto;
}
