@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  /* @apply bg-paper; */
  /* @apply pb-6 px-3; */
  @apply antialiased;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #222;
}

/* @screen sm {
  body {
    @apply pb-12 px-6;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  padding: 1rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 10px;
  white-space: pre-wrap;
  color: #8ae8fc;
  background-color: #282a36;
  line-height: 1.4;
  /* @apply hidden; */
}

.sketchplanations {
  @apply flex flex-wrap justify-center pb-6;
}

@screen lg {
  .sketchplanations {
    @apply pb-12;
  }
}

.sketchplanations > * {
  @apply p-10;
}

.header {
  @apply sticky grid grid-flow-col-dense gap-x-6 top-0 items-center justify-between  px-6 bg-blue z-50;
  background-color: #fff;
}

.ident {
  @apply block;
}

/* @screen md {
  .ident {
    @apply py-4;
  }
} */

.ident__svg {
  @apply block;
  width: 100%;
  height: 100%;
  max-height: 2rem;
}

/* @screen xs {
  .ident__svg {
    @apply block;
  }
}

.ident__svg--small {
  @apply block;
  width: 100%;
  height: 100%;
  max-height: 2rem;
}

@screen xs {
  .ident__svg--small {
    @apply hidden;
  }
} */

/* @screen sm {
  .ident__svg {
    width: 260px;
    height: auto;
  }
} */

.patreon {
  @apply fixed bottom-0 right-0;
}

/* * {
  outline: solid thin rgba(255, 0, 0, 0.05);
} */

.masthead {
  @apply mx-auto mt-6 px-8 flex flex-col items-center text-center text-gray-400;
}

.hide-when-unfixed .headroom--unfixed {
  display: none;
}

/* Mailchimp */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 16px 'Open Sans', sans-serif;
  width: 375px;
}

.coffee {
  @apply fixed z-10 bottom-0 left-0 mb-4 ml-4 flex flex-col items-center py-3 px-4 bg-white shadow-lg rounded;
}

.coffee img {
  @apply inline-block;
  width: 140px;
  height: auto;
}

.page {
  @apply block;
}

.page > * + * {
  margin-top: 1.4em;
}

.page b,
.page strong {
  @apply font-semibold;
}

.page i,
.page em {
  @apply italic;
}

.page a {
  @apply text-blue;
}

.page ul li {
  list-style: outside disc;
  margin-left: 1.75rem;
}

.page ol li {
  list-style: outside decimal;
  margin-left: 1.75rem;
}

.page img {
  @apply my-10;
}
