@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  /* @apply bg-paper; */
  /* @apply pb-6 px-3; */
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #222;
}

/* @screen sm {
  body {
    @apply pb-12 px-6;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

pre {
  padding: 1rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 10px;
  white-space: pre-wrap;
  color: #8ae8fc;
  background-color: #282a36;
  line-height: 1.4;
  /* @apply hidden; */
}

.sketchplanations {
  @apply flex flex-wrap justify-center py-6;
}

@screen lg {
  .sketchplanations {
    @apply py-12;
  }
}

.sketchplanations > * {
  @apply p-12;
}

.header {
  @apply text-center;
  background-color: #fff;
}

.headroom-wrapper {
  overflow: hidden;
}

.headroom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2.3rem 1rem -2rem rgba(0, 0, 0, 0);
}

.headroom--pinned {
  border-bottom-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2.3rem 1rem -2rem rgba(0, 0, 0, 0.2);
}

@screen lg {
  .header {
    @apply flex items-center justify-center px-6;
  }
}

.header > * {
  @apply p-3;
}

.ident {
  @apply block my-0 mx-auto;
}

.ident__svg {
  width: 50vw;
  height: auto;
}

@screen sm {
  .ident__svg {
    width: 260px;
    height: auto;
  }
}

.slogan {
  @apply whitespace-no-wrap hidden;
}

@screen sm {
  .slogan {
    @apply block;
  }
}

nav {
  @apply -mx-4 -mt-5;
}

@screen lg {
  nav {
    @apply mt-0;
  }
}

nav > * {
  @apply p-3 px-4 text-blue;
}

.patreon {
  @apply fixed bottom-0 right-0;
}

/* * {
  outline: solid thin rgba(255, 0, 0, 0.05);
} */

.masthead {
  max-width: 600px;
  @apply mt-6 mx-auto px-8 flex flex-col items-center text-center;
}

.masthead > * + * {
  @apply mt-6;
}

/* @screen sm {
  .masthead {
    @apply px-6;
  }
} */

.headroom--unfixed {
  opacity: 0;
}
