.root {
  --lr-width: 12rem;
  --min-search-toggle-width: 4rem;
  --spacer-width: 0;

  @apply grid gap-x-4;
  background-color: var(--color-bgTransparent);
  backdrop-filter: saturate(180%) blur(5px);
  grid-template-areas:
    'spacer-left menu ident search-toggle spacer-right'
    'divider divider divider divider divider'
    'navigation navigation navigation navigation navigation';
  grid-template-columns: min-content 24px auto var(--min-search-toggle-width) min-content;
  grid-template-rows: auto 1px 1fr;
}

.spacer-left {
  grid-area: spacer-left;
  width: var(--spacer-width);
}

.spacer-right {
  grid-area: spacer-right;
  width: var(--spacer-width);
}

@screen md {
  .root {
    @apply gap-x-6 sticky top-0 items-center justify-between z-50;
    grid-template-areas:
      'spacer-left ident navigation search-toggle spacer-right'
      'divider divider divider divider divider';
    grid-template-columns: min-content var(--lr-width) 1fr minmax(var(--min-search-toggle-width), var(--lr-width)) min-content;
    grid-template-rows: auto 1px;
  }
}

.root-open {
  @apply fixed inset-0 z-40 items-start;
}

/* .ident-and-search {
  @apply h-16 flex items-center gap-6 px-4;
  grid-area: ident-and-search;
} */

.navigation {
  @apply flex justify-center;
  grid-area: navigation;
}

.divider {
  @apply w-full h-px bg-border;
  grid-area: divider;
}

/* @screen md {
  .ident-and-search {
    @apply px-0 pl-4;
  }
} */

.search-toggle {
  @apply flex h-16 items-center justify-end;
  grid-area: search-toggle;
  container-type: inline-size;
}

.search-toggle-button {
  @apply flex items-center justify-center lg:justify-start gap-x-2 w-full py-2 px-4 bg-inputBg border border-inputBorder rounded-lg;
  /* @apply min-w-[3rem] max-w-[12rem] lg:max-w-sm ml-auto; */
  /* @apply min-w-[3rem] max-w-[12rem] lg:max-w-none ml-auto; */
  /* min-width: var(--min-search-toggle-width); */
}

@screen sm {
  .search-toggle-button {
    @apply py-3 px-6 rounded-full;
  }
}

@screen lg {
  .search-toggle-button {
    @apply mx-auto;
  }
}

.search-toggle-button__icon {
  @apply flex items-center text-subduedText;
  height: 24px;
}

/* .search-toggle-button__icon :global(svg) {
  width: 20px;
  height: 20px;
} */

@screen sm {
  .search-toggle-button__icon {
    height: 28px;
  }

  /* .search-toggle-button__icon :global(svg) {
    width: 22px;
    height: 22px;
  } */
}

/* @container (min-width: 40px) {
  .search-toggle-button__icon {
    display: none;
  }
} */

.search-toggle-button__text {
  @apply text-subduedText select-none;
}

@screen sm {
  .search-toggle-button__text {
    @apply text-lg;
  }
}

@container (max-width: 140px) {
  .search-toggle-button {
    width: var(--min-search-toggle-width);
  }

  .search-toggle-button__text {
    @apply hidden;
  }
}

/* @screen sm {
  .search-toggle-button {
    @apply py-3 px-6 rounded-full;
  }
} */

.search-form {
  @apply hidden;
}

/* @screen lg {
  .search-toggle-button {
    @apply hidden;
  }
} */

.menu {
  @apply flex h-16 items-center justify-center;
  grid-area: menu;
}

@screen md {
  .menu {
    @apply hidden;
  }
}

.ident {
  @apply flex-none flex h-16 items-center;
  min-width: var(--lr-width);
}

/* @media (min-width: 768px) and (max-width: 1023px) {
  .ident {
    width: 27px;
  }
} */

/* @screen sm {
  .ident{
    width: var(--lr-width);
  }
} */

@screen dark {
  .ident {
    @apply invert;
  }
}

.ident__svg {
  @apply block;
  width: 100%;
  max-width: var(--lr-width);
  height: 100%;
  max-height: 2rem;
  fill: currentColor;
}

/* @screen sm {
  .ident__svg {
    @apply mx-auto;
    width: 205px;
  }
} */

.navigation {
  @apply hidden h-full;
  grid-area: navigation;
}

@screen md {
  .navigation {
    @apply flex flex-row h-auto self-stretch border-t-0 pr-4;
  }
}

.navigation--is-open {
  @apply block overflow-auto overscroll-contain;
}

.search-overlay {
  @apply fixed inset-0 z-50 bg-bg bg-opacity-50 grid h-screen;

  grid-template-rows: min-content 1fr;
}

.search-header {
  /* @apply py-1 px-2 grid gap-y-2 shadow-lg; */
  @apply px-3 sm:px-4 grid gap-y-2 h-16;
}

.search-results {
  @apply overflow-auto h-full relative border-t border-border;
}

.search-results-empty {
  @apply absolute inset-0 flex items-center justify-center h-full flex-col gap-2;
}

.search-results-count {
  @apply text-subduedText text-xs py-2 px-4;
}

.search-results-empty a {
  @apply text-blue;
}

.links {
  @apply grid grid-flow-col-dense gap-x-6 justify-center px-6;
}

.link {
  @apply text-blue;
}

.item {
  @apply flex gap-x-2 items-center justify-center py-4;
}
