@keyframes backdropAnimation {
  from {
    backdrop-filter: blur(0);
    opacity: 0;
  }

  to {
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

@keyframes modalAnimation {
  from {
    transform: scale(0.9) translate(-50%, -45%);
    opacity: 0;
  }

  to {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.backdrop {
  @apply fixed top-0 left-0 w-full;
  height: var(--visual-viewport-height);
  z-index: 1100;
  background-color: var(--color-overlay);
  backdrop-filter: blur(10px);
}

.backdrop[data-entering] {
  animation: backdropAnimation 200ms ease;
}

.backdrop[data-exiting] {
  animation: backdropAnimation 200ms reverse ease;
}

.modal {
  @apply fixed top-1/2 left-1/2 rounded-md bg-bg;
  width: 90vw;
  max-width: 36rem;
  max-height: calc(var(--visual-viewport-height) - 3rem);
  z-index: 1200;
  box-shadow:
    0 1px 2.7px rgba(0, 0, 0, 0.045),
    0 2.6px 7.5px rgba(0, 0, 0, 0.065),
    0 6.3px 18.1px rgba(0, 0, 0, 0.085),
    0 21px 60px rgba(0, 0, 0, 0.13);
  transform: scale(1) translate(-50%, -50%);
  transform-origin: bottom left;
  opacity: 1;
}

.modal[data-entering] {
  /* animation: modalAnimation 400ms cubic-bezier(0.34, 1.56, 0.64, 1); */
  animation: modalAnimation 200ms ease-out;
}

.modal[data-exiting] {
  animation: modalAnimation 200ms reverse ease-out;
}

.main {
  @apply h-full overflow-auto;
  max-height: 90vh;
}

.close {
  @apply absolute top-0 right-0 z-10 flex items-center justify-center text-lg;
  color: #ccc;
  width: 45px;
  height: 45px;
}
