.cards {
  box-shadow:
    5px 0 2px -4px rgba(0, 0, 0, 0.1),
    -5px 0 2px -4px rgba(0, 0, 0, 0.1);
  user-select: none;
}


.image {
  @apply relative aspect-[5/3] overflow-hidden rounded;
  mask-image: var(--mask-image);
}
