.root {
  @apply p-5 sm:p-4 md:p-6;
}

.noResults {
  @apply p-2 text-center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @apply py-2 text-sm;
}
